body{
  margin: 0;
  text-align: center;
  justify-content: center;
}

header{
    height: 400px;
    width: 400px;
    background-image: url(https://visit.natal.br/assets/img/galeria3.jpg);
    background-size: cover;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content center;
    align-content: center;
    justify-items: center;
    h1, h2{
      padding:10px 20px;
      border-radius: 3px;
      margin: 40px auto;
    }
    h1{
      background-color: #3b6d8e;
    }
    h2{
      background-color: #1d2e48;
    }
}

.atividades{
  display: flex;
  text-align: center;
  justify-content: space-around;
}

main{
    background-color: #F1F9ECff;
    padding: 20px;
    img{
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
}

footer{
  
}

#photo{
    width: 150px;
    border-radius: 10px;
}

.card{
    padding: 20px;
    display: flex;
    justify-content:space-around;
    width: 500px;
    margin: 10px auto;
    background: rgb(140, 250, 190);
    border-bottom: 5px solid rgb(0, 150, 10);
}

.info{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
/*
    width: 400px;
    margin: 0 auto;
    padding: 20px;
 */   
}
